<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node project</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="txt-color">Hello from index</div>
</body>
</html>